#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.719); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#text{
    position: absolute;
    top: 350px;
    left: 320px;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#saveBtn {
    position: absolute;
    top: 400px;
    left: 230px;
    width: 70px;
    height: 30px;
    color: white;
    background-color: red;
}

#loadBtn {
    position: absolute;
    top: 400px;
    left: 325px;
    width: 70px;
    height: 30px;
    color: white;
    background-color: green;
}

#gameWorld {
    position:absolute;
    border: 3px double rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    box-sizing: border-box;
    margin:10px;
    z-index: 0;
    cursor:pointer;
}

#description {
    width: 300px;
    height: 706px;
    padding: 10px;
    left: 630px;
    position: absolute;
    border: 3px double rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    box-sizing: border-box;
    margin:10px;
    z-index: 0;
    color: white;
}

#center1, #center2, #center3, #center4 {
    position:relative;
    background:rgb(0, 0, 0);
    width:1px;
    height:1px;
}

#center1 {
    top:0%;
    left:50%;
}

#center2 {
    top:25%;
    left:50%;
}

#center3 {
    top:50%;
    left:50%;
}

#center4 {
    top:75%;
    left:50%;
}

#cageBorder {
    width: 602px;
    height: 200px;
    position:absolute;
    border:dashed 1px rgba(54, 144, 223, 0.26);
    /* background: black; */
    box-sizing: border-box;
    margin:12px;
    z-index: 1;
}

#rotateme {
    width:50px;
    height:220px;
    border:solid 1px rgb(0, 0, 0);
    z-index:1;
    position:absolute;
    border-radius: 5px;
    top:520px;
    left:285px;
    transform-origin: 50% 100%;
    background-color: rgba(54, 144, 223, 0.26);
}

#blocker {
    width:604px;
    height:122px;
    border:solid 1px rgba(255, 0, 0, 0);
    z-index:2;
    position:absolute;
    top:600px;
    left:18px;
}

#blocker2 {
    width:600px;
    height:40px;
    border:solid 1px rgba(0, 255, 21, 0);
    background-color: cornflowerblue;
    z-index:2;
    position:absolute;
    top:724px;
    left:20px;
}
